
@{
    ViewBag.Title = "Hakkimizda";
}


<!-- Page Content -->

<div class="container">
    <div class="row">

        <!-- Kategoriler -->
        <div class="col-md-3">
            @Html.Partial("_PartialKategori")
        </div>
        <div class="col-md-9">
            <div class="col-md-7 col-md-offset-1">
                <div class="row">
                    <h2 class="text-center">Bu Bir Başlık</h2>
                    <hr />
                    <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail" alt="Alternate Test" />
                    <hr />
                    <p>1998 yılında "En yeni iletişim ve bilgisayar teknolojilerini kullanarak müşterilerine dünya standartlarında çözümler sunmak" ilkesiyle yola çıkan isimtescil.net, geçen 16 yıllık süreçte Dünya ve Türkiye’ye, en büyük domain ve hosting firmalarından biri olmayı başarmıştır.</p>
                    <p>2008 yılında alan adları standartlarını belirleyen ve denetleyen tek otorite ICANN'e akredite olan isimtescil.net, 2010 yılından beri Türkiye'nin en büyük 500 bilişim şirketi arasında yer almakta ve kurulduğu günden buyana 1 milyonun üzerinde domain kaydı ve 200 bininin üzerinde barındırma hizmetne ev sahipliği yapmıştır.</p>
                    <p>45 kişilik ekibi ile 7/24 destek operasyonunu sürdüren ve sürekli Ar-Ge politikası ile kendi altyapı yatırımlarını yöneten isimtescil.net, 2013 yılında Türkiye'de ilk kez yeni domain uzantıları için ön talep sürecini başlatmış ve bu süreçte 1 milyonun üzerinde talep toplayarak Afrika, Asya ve Doğu Avrupada en fazla talep toplayan şirket ünvanını almıştır.</p>
                    <p>Hakkımızda sayfanız ya da hakkımızda yazısı sizin için çok önemli olmayabilir fakat aslında web tasarım konusunda oldukça önemlidir. Ana sayfanız tabii ki de önemlidir. Ürün ya da hizmet listeniz de ona keza. Fakat, hakkımızda sayfanızı optimize etmezseniz, tüm bileşenleri tamamladığınızda elinize geçecek olan çevrim içi vizyonu ve size büyük paralar getirebilecek olan takipçileri ve ziyaretçileri kaybedebilirsiniz. İşte hakkımızda yazısı ile ilgili o 5 önemli nokta.</p>

                </div>
            </div>

        </div>
    </div>
</div>



