@using Asp.MvcBlog.Models
@using Asp.MvcBlog.Islem

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.slim.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/Index">Notlar</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav  navbar-nav">
                    @if (Current.Uye != null)
                    {
                        <li  class="dropdown">

                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                <span class="glyphicon glyphicon-wrench"></span> Yönetim

                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/Not/NotEkle"><span class="glyphicon glyphicon-plus"></span>Not Ekle</a>
                                </li>

                                <li>
                                    <a href="/Not/Notlarım"><span class="glyphicon glyphicon-th-list"></span>Notlarım</a>
                                </li>

                                <li>
                                    <a href="/Not/Begendiklerim"><span class="glyphicon glyphicon-heart">Beğendiklerim</span></a>
                                </li>

                                <li role="separator" class="divider"></li>

                                @if (Current.Uye.AdminMi)
                                {
                                    <li><a href="/Konu/KonuEkle"><span class="glyphicon glyphicon-plus"></span>Konu Ekle</a></li>

                                    <li role="separator" class="divider"></li>

                                    <li><a href="/Konu/Konular"><span class="glyphicon glyphicon-th-list"></span>Konular</a></li>
                                }

                            </ul>
                        </li>
                

                    }

                    <li>
                        <a href="/Home/Hakkimizda"><span class="glyphicon glyphicon-info-sign"></span>Hakkımızda</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Current.Uye == null)
                    {
                        <li>
                            <a href="/Home/GirisYap"><span class="glyphicon glyphicon-log-in"></span>Giriş Yap</a>
                        </li>
                            <li>
                                <a href="/Home/KayitOl"><span class="glyphicon glyphicon-user"></span>Üye Ol</a>
                            </li>

                    }
                    else
                    {
                        <li>
                            <a href="/Home/ProfilGöster"><span class="glyphicon glyphicon-user"></span>@Current.Uye.KullaniciAdi</a>
                        </li>
                            <li>
                                <a href="/Home/CikisYap"><span class="glyphicon glyphicon-log-out"></span>Çıkış Yap</a>
                            </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <hr>
        @RenderBody()
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Her Hakkı Saklıdır.. &copy;@DateTime.Now.Year</p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
